In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
a1=pd.read_csv("articles1.csv")
a2=pd.read_csv("articles2.csv")
a3=pd.read_csv("articles3.csv")

In [106]:
vertical_stack = pd.concat([a1,a2,a3], axis=0)

/home/vikrant/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [54]:
title=open("title.txt",'w')
title1=a1["title"]
title2=a2["title"]
title3=a3["title"]
for line in title1:
    title.write(str(line) +"\n")
for line in title2:
    title.write(str(line)+"\n")
for line in title3:
    title.write(str(line) +"\n")
title.close()

In [145]:
vertical_stack.head()

,Unnamed: 0,content,title
1,1,"After the bullet shells get counted, the blood...",Rift Between Officers and Residents as Killing...
2,2,"When Walt Disney’s “Bambi” opened in 1942, cri...","Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ..."
3,3,"Death may be the great equalizer, but it isn’t...","Among Deaths in 2016, a Heavy Toll in Pop Musi..."
4,4,"SEOUL, South Korea — North Korea’s leader, ...",Kim Jong-un Says North Korea Is Preparing to T...
5,5,"LONDON — Queen Elizabeth II, who has been b...","Sick With a Cold, Queen Elizabeth Misses New Y..."

In [147]:
stk=vertical_stack.dropna()

In [160]:
stk["content"].count()

142567

In [161]:
stk["title"].count()

142567

In [171]:
import re

In [186]:
content=open("content.txt",'w')
content1=stk["content"]
for line in content1:
    content.write(re.sub(r'\s'," ",line) +"\n")
content.close()

In [187]:
content=open("title.txt",'w')
content1=stk["title"]
for line in content1:
    content.write(re.sub(r'\s'," ",line) +"\n")
content.close()

In [188]:
title=open("title.txt",'r')
k=0
for line in title:
    k+=1
print(k)
title.close()

142567

In [189]:
title=open("content.txt",'r')
k=0
for line in title:
    k+=1
print(k)
title.close()

142567